.main {
  height: 100vh;
  margin: 0;
  display: grid;
}

.square {
  /* border */
  border-color: red;
  border-width: 25px;
  width: 25px;
  height: 25px;
  border-style: solid;

  /* centering */
  margin: auto;
}
